* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}
html,
body {
  min-height: 100%;
  width: 100%;
}
nav {
  padding: 12px;
  height: 90px;
  display: grid;
  grid-template-columns: 12% 63% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "nav-logo nav-items auth";
}
nav .nav-logo {
  grid-area: nav-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-logo img {
  height: 60px;
  width: 100px;
  padding: 0px 20px 10px 0px;
}
nav .nav-items {
  grid-area: nav-items;
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .nav-items a {
  transition: color 0.2s ease;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
nav .nav-items a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease;
}
nav .nav-items a:hover::after {
  width: 100%;
}
nav .nav-items a:hover {
  color: red;
}
nav .auth {
  grid-area: auth;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
  gap: 10px;
}
nav .auth button {
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: white;
  transition: background-color 0.5s ease;
}
nav .auth button:hover {
  background-color: black;
  color: white;
  border: 2px solid grey;
}
nav .auth button:last-child {
  background-color: black;
  color: white;
}
nav .auth button:last-child:hover {
  background-color: white;
  color: black;

  border: 2px solid black;
}
section {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .wrapper h1 {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
section .wrapper h4 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.search-bar {
  display: flex;
  gap: 20px;
  width: 50%;
  border-radius: 50px;
  background-color: #f3f3f6;
  transition: background-color 0.7s ease;

  padding: 20px 20px;
}
.search-bar:hover {
  background-color: white;
}
.search-bar input {
  background: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
  outline: none;
  font-weight: 200;
}
.search-bar button {
  border: none;
}
.search-bar button i {
  background-color: #ec5e95;
  font-size: 20px;
  padding: 12px;
  border-radius: 50px;
  color: white;
}
.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.trending p {
  background-color: #f3f3f6;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 14px;
  transition: background-color 0.5s ease;
}
.trending p:hover {
  background-color: white;
}
.filter-row {
  margin-top: 80px;
  display: flex;
  padding: 20px 60px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.filter-row select {
  padding: 8px 12px;
  border-radius: 10px;
}
.filter-row .text-wrapper {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
}
.filter-row .text-wrapper p {
  transition: background-color 0.5s ease;
  padding: 2px 6px;
  border-radius: 50px;
}
.filter-row .text-wrapper p:hover {
  background-color: #babac2;
}
.filter-row .filter {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  transition: background-color 0.6s ease;
}
.filter-row .filter:hover {
  background-color: black;
  color: white;
}
.cards-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 0px 20px;
}
.cards-row .card {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0px 12px;
  position: relative;
}
.cards-row .card .card-overlay {
  position: absolute;
  height: 250px;
  top: 0px;
  right: 12px;
  left: 12px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 0px 30px;
}
.card:hover .card-overlay {
  opacity: 1;
}
.card .card-overlay .text-wrapper {
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  bottom: 12px;
  padding: 12px;
  width: 100%;
}
.card-overlay .text-wrapper h5 {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.card-overlay .text-wrapper .icons i {
  background-color: white;
  color: black;
  padding: 16px;
  border-radius: 60%;
  transition: background-color 0.4s ease;
}
.card-overlay .text-wrapper .icons i:hover {
  background-color: #ec5e95;
  color: white;
}
.card-overlay .text-wrapper .icons i:last-child:hover {
  background-color: #555555;
  color: white;
}
.cards-row .card img {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.cards-row .card .card-details {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.cards-row .card .card-details .interact {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 2px;
  gap: 10px;
}
.cards-row .card .card-details .interact i {
  display: flex;
  align-items: center;
  gap: 2px;
  color: rgb(173, 169, 169);
  color: #9999a1;
}
.cards-row .card .card-details .interact i p {
  display: flex;
  color: rgb(173, 169, 169);
  font-size: 14px;
}
.cards-row .card .card-details .interact i:hover {
  color: rgb(218, 103, 122);
}
.cards-row .card .card-details .interact i:last-child:hover {
  color: #555555;
}
.cards-row .card .card-details .card-logo img {
  height: 30px;
  border-radius: 50%;
}
.cards-row .card .card-details .card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cards-row .card .card-details .card-logo p {
  font-size: 14px;
  font-weight: 500;
  margin-top: -10px;
  white-space: nowrap;
}
.cards-row .card .card-details .card-logo h6 {
  font-size: 12px;
  font-weight: 500;
  margin-top: -10px;
  color: white;
  padding: 0px 4px;
  text-align: center;
  background-color: #b4b4b7;
}
.card-row-button {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-row-button button {
  padding: 10px 20px;
  background-color: black;
  color: #f3f3f6;
  font-weight: 600;
  border: none;
  font-size: 12px;
  border-radius: 50px;
  transition: background-color 0.8s ease;
}
.card-row-button button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.card-row-button i {
  position: absolute;
  right: 24px;
  font-size: 25px;
  background-color: #a1a1aa;
  color: white;
  padding: 14px;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}
.card-row-button i:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.strip-loop {
  width: 100%;
  overflow: hidden;
}
.strip-loop .strip-track {
  display: flex;
  gap: 60px;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}
.strip-loop .strip-track:hover {
  animation-play-state: paused;
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.strip-loop img {
  height: 120px;
  width: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 100px;
}
footer .logo img {
  height: 65px;
}
footer .foot-items {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 15px;
  color: black;
  transition: color 0.3s ease;
}
footer .foot-items :hover {
  color: #9999a1;
}
footer .social {
  font-size: 25px;
}
footer .social i {
  transition: transform 0.3s ease;
  display: inline-block;
}
footer .social i:hover {
  transform: scale(1.5);
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
  font-size: 13px;
  font-weight: 200;
  transition: color 0.4s ease;
}
.copyright p:hover{
  color: black;
  font-weight: 400;
}
.copyright .left {
  display: flex;
  gap: 20px;
}
.copyright .right {
  display: flex;
  gap: 20px;
}